{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Search Books</h2>
<table class="table table-bordered bg-light">
    <tr>
        <th>COVER</th>
        <th>TITLE</th>
        <th>AUTHOR</th>
        <th>PAGES</th>
        <th>LANGUAGE</th>
        <th>PRICE</th>
        <th>DOCUMENT</th>

    </tr>

    {% for i in book %}
    <tr>

            <td><img src="{{i.cover.url}}" class="img-thumbnail" height="150px" width="150px"></td>
            <td>{{i.title}}</td>
            <td>{{i.author}}</td>
            <td>{{i.pages}}</td>
            <td>{{i.language}}</td>
            <td>{{i.price}}</td>
            <td><a href="{{i.pdf.url}}">Download</a></td>


    </tr>
    {% endfor %}
</table>
{% endblock %}